<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seo>
            <robots_meta_tags>
                <index_only_on_first_page_of_category>0</index_only_on_first_page_of_category>
                <noindex_url_params>SID,___store</noindex_url_params>
            </robots_meta_tags>
        </seo>
    </default>
</config>
