<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageSuite\SeoMetaRobots\Model\ResolversPool">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="noindex_customer_specific_pages" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\NoIndexCustomerSpecificPages</item>
                    <item name="sort_order" xsi:type="number">4</item>
                </item>
                <item name="url_contains_no_index_params" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\UrlContainsNoIndexParams</item>
                    <item name="sort_order" xsi:type="number">5</item>
                </item>
                <item name="url" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\Url</item>
                    <item name="sort_order" xsi:type="number">10</item>
                </item>
                <item name="cms_page" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\CmsPage</item>
                    <item name="sort_order" xsi:type="number">20</item>
                </item>
                <item name="product" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\Product</item>
                    <item name="sort_order" xsi:type="number">20</item>
                </item>
                <item name="category_pagination" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\Category\IndexOnlyOnFirstPageOfCategory</item>
                    <item name="sort_order" xsi:type="number">30</item>
                </item>
                <item name="category" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\Category</item>
                    <item name="sort_order" xsi:type="number">40</item>
                </item>
                <item name="action" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\Action</item>
                    <item name="sort_order" xsi:type="number">50</item>
                </item>
                <item name="controller" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\Controller</item>
                    <item name="sort_order" xsi:type="number">60</item>
                </item>
                <item name="module" xsi:type="array">
                    <item name="resolver" xsi:type="object">MageSuite\SeoMetaRobots\Model\Resolver\Module</item>
                    <item name="sort_order" xsi:type="number">70</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\SeoMetaRobots\Model\Resolver\NoIndexCustomerSpecificPages">
        <arguments>
            <argument name="modules" xsi:type="array">
                <item name="checkout" xsi:type="string">checkout</item>
                <item name="customer" xsi:type="string">customer</item>
                <item name="newsletter" xsi:type="string">newsletter</item>
                <item name="pwanotifications" xsi:type="string">pwanotifications</item>
                <item name="sales" xsi:type="string">sales</item>
                <item name="wishlist" xsi:type="string">wishlist</item>
                <item name="backinstock" xsi:type="string">backinstock</item>
            </argument>
            <argument name="controllers" xsi:type="array">
                <item name="review_customer" xsi:type="string">review_customer</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\SeoMetaRobots\Model\Resolver\Module">
        <arguments>
            <argument name="modules" xsi:type="array">
                <item name="customer" xsi:type="const">MageSuite\SeoMetaRobots\Model\Config\Source\Attribute\RobotsMetaTag::NOINDEX_NOFOLLOW</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\SeoMetaRobots\Model\Resolver\Controller">
        <arguments>
            <argument name="controllers" xsi:type="array">
                <item name="customer_account" xsi:type="const">MageSuite\SeoMetaRobots\Model\Config\Source\Attribute\RobotsMetaTag::NOINDEX_NOFOLLOW</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\SeoMetaRobots\Model\Resolver\Action">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="customer_account_login" xsi:type="const">MageSuite\SeoMetaRobots\Model\Config\Source\Attribute\RobotsMetaTag::NOINDEX_NOFOLLOW</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sitemap\Model\ItemProvider\Category">
        <plugin name="remove_not_indexed_not_followed_categories" type="MageSuite\SeoMetaRobots\Plugin\Sitemap\Model\ItemProvider\Category\RemoveNotIndexedNotFollowedCategories" sortOrder="1" />
    </type>

    <type name="Magento\Sitemap\Model\ItemProvider\Product">
        <plugin name="remove_not_indexed_not_followed_products" type="MageSuite\SeoMetaRobots\Plugin\Sitemap\Model\ItemProvider\Product\RemoveNotIndexedNotFollowedProducts" />
    </type>

    <type name="Magento\Sitemap\Model\ItemProvider\CmsPage">
        <plugin name="remove_not_indexed_not_followed_cms_pages" type="MageSuite\SeoMetaRobots\Plugin\Sitemap\Model\ItemProvider\CmsPage\RemoveNotIndexedNotFollowedCmsPages" />
    </type>
</config>
